VITE_SUPABASE_URL=https://dxgchsqewihqgwfkuzxs.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PRd-Uw-TDaPLrA77jsQ_gw_jqniz95Y

NEXT_PUBLIC_SUPABASE_URL=https://dxgchsqewihqgwfkuzxs.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PRd-Uw-TDaPLrA77jsQ_gw_jqniz95Y
